.page1-container {
  min-height: 100vh;
}
.page1-page1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page1-healthiconsuiuserprofile {
  top: 488px;
  left: 696px;
  width: 48px;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.page1-group {
  top: 4px;
  left: 4px;
  width: 40px;
  height: 40.00007629394531px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page1-vector {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.page1-vector01 {
  top: 29.000228881835938px;
  left: 8px;
  width: 24px;
  height: 10px;
  position: absolute;
}
.page1-vector02 {
  top: 27.999732971191406px;
  left: 6.999994277954102px;
  width: 26px;
  height: 12px;
  position: absolute;
}
.page1-vector03 {
  top: 8px;
  left: 12px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.page1-vector04 {
  top: 8px;
  left: 12px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.page1-pngtreetechnologylogotemplatepngimage3669874remove {
  top: 44px;
  left: 203.532470703125px;
  width: 1004px;
  height: 928px;
  position: absolute;
}
.page1-rectangle5 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
.page1-vehiclere1 {
  top: 710px;
  left: 720px;
  width: 786px;
  height: 116px;
  position: absolute;
}
.page1-vehiclere2 {
  top: 594px;
  left: 963.40185546875px;
  width: 555px;
  height: 109px;
  position: absolute;
}
.page1-healthiconsuiuserprofile1 {
  top: 44px;
  left: 1272px;
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.page1-group1 {
  top: 6.666666507720947px;
  left: 6.666666507720947px;
  width: 66.66666412353516px;
  height: 66.66679382324219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page1-vector05 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 67px;
  position: absolute;
}
.page1-vector06 {
  top: 48.33371353149414px;
  left: 13.333333015441895px;
  width: 40px;
  height: 17px;
  position: absolute;
}
.page1-vector07 {
  top: 46.666221618652344px;
  left: 11.666657447814941px;
  width: 43px;
  height: 20px;
  position: absolute;
}
.page1-vector08 {
  top: 13.333333969116211px;
  left: 20px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.page1-vector09 {
  top: 13.333333969116211px;
  left: 20px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.page1-rectangle12 {
  top: -6px;
  left: -52px;
  width: 1241px;
  height: 100px;
  position: absolute;
}
.page1-blue-car-vectorremovebgpreview1 {
  top: 391px;
  left: 486px;
  width: 420px;
  height: 202px;
  position: absolute;
}
.page1-fluentmdl2circleadditionsolid {
  top: 714px;
  left: 1139px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.page1-vector10 {
  top: 714px;
  left: 1279px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.page1-text {
  top: 33px;
  left: 198px;
  color: rgba(255, 255, 255, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page1-text02 {
  top: 33px;
  left: 476px;
  color: rgba(255, 255, 255, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page1-text04 {
  top: 36px;
  left: 753px;
  color: rgba(255, 255, 255, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page1-rectangle24 {
  top: 917px;
  left: -118px;
  width: 1592px;
  height: 115px;
  position: absolute;
  border-radius: 1px;
}
.page1-text06 {
  top: 943px;
  left: 525px;
  color: rgba(255, 255, 255, 1);
  width: 680px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page1-text11 {
  top: 975px;
  left: 400px;
  color: rgba(255, 255, 255, 1);
  width: 708px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page1-vector11 {
  top: 972px;
  left: 340px;
  width: 25px;
  height: 25px;
  position: absolute;
}
@media(max-width: 1600px) {
  .page1-page1 {
    width: 1440px;
    margin-right: 0px;
  }
}
